
.fn-fixed-top {
	text-align: center;
}
	.fn-fixed-top li{
		background: #f60;
	    border-radius: 4px;
	    color: #fff;
	    display: inline-block;
	    *display: inline;
	    *zoom: 1;
	    font: bold 14px/30px Tahoma;
	}
	.fn-fixed-top li.checked, .fn-fixed-top li:hover {
	    background-color: #2BD1EA;
	    cursor: pointer;
	}

/*
 * Dialog
 */
.login_cyou_dialog { width: 440px; height: 370px; background:url(http://i1.cy.com/www/pop/bg.jpg) no-repeat; color: #666666; font: 12px/22px Tahoma, Geneva, sans-serif;display: none; }
.login_cyou_dialog_dj {background:url(http://i1.cy.com/www/pop/bg_dj.jpg) no-repeat;}
.login_cyou_dialog .login_dialog_title { position: relative; height: 30px; line-height: 30px; color: #FFF; text-shadow: 1px 1px 2px #000; }
.login_cyou_dialog .login_dialog_title h2,.login_cyou_dialog .login_dialog_title h3{ display:none; }
.login_cyou_dialog .login_dialog_title .close { display: block; position: absolute; top: 0px; right: 0; width: 30px; text-indent:-9999em; height: 30px; font-family: tahoma; font-size: 16px; text-decoration: none; text-align: center; cursor: pointer; text-shadow: 1px 1px 2px #000; }
.login_cyou_dialog .login_dialog_title .close:hover { color: #FEE900; }
.login_cyou_dialog .login_dialog_box { padding: 40px 40px 14px ; }
.login_cyou_dialog .login_dialog_box .error { color: #E10000; }
.login_cyou_dialog .login_dialog_box .ft14 { font-size: 14px; }
.login_cyou_dialog .login_dialog_box .imp { color: #EB3410; }
.login_cyou_dialog .login_dialog_box strong { font-weight: bold; }
.login_cyou_dialog .login_dialog_box button { height: 26px; border: 1px solid #ea5e0d; background-color: #f56117; background-image: -ms-linear-gradient(center top, #f88732, #ea5e0d); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f88732), to(#ea5e0d)); background-image: -webkit-linear-gradient(center top, #f88732, #ea5e0d); background-image: -o-linear-gradient(center top, #f88732, #ea5e0d); background-image: linear-gradient(center top, #f88732, #ea5e0d); background-image: -moz-linear-gradient(center top, #f88732, #ea5e0d); background-repeat: repeat-x; color: #FFF; font-size: 12px; text-align: center; cursor: pointer; border-radius: 3px; box-shadow: 0 1px 10px rgba(0,0,0,.6); text-shadow: 1px 1px 2px #000; }
.login_cyou_dialog .login_dialog_box button:hover { background-image: -ms-linear-gradient(center top, #ea5e0d, #f88732); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ea5e0d), to(#f88732) ); background-image: -webkit-linear-gradient(center top, #ea5e0d, #f88732); background-image: -o-linear-gradient(center top, #ea5e0d, #f88732); background-image: linear-gradient(center top, #ea5e0d, #f88732); background-image: -moz-linear-gradient(center top, #ea5e0d, #f88732); }
.login_cyou_dialog .login_dialog_box ul { list-style: none; margin: 0 auto; padding: 0; }
.login_cyou_dialog .login_dialog_box input { width: 200px; height: 16px; padding: 4px; border: 1px solid #d4d6dd; color: #333; font: 12px/16px Tahoma, Geneva, sans-serif; border-radius: 2px; }
/* .login_dialog_login */
.login_cyou_dialog .login_dialog_login {  font-size: 14px; }
.login_cyou_dialog .login_dialog_login li { height: 26px; padding: 5px 0; font-size: 0; }
.login_cyou_dialog .login_dialog_login label, .login_dialog_login input, .login_dialog_login span, .login_dialog_login select, .login_dialog_card label, .login_dialog_card input, .login_dialog_card button { display: inline-block;  *display: inline; *zoom: 1; vertical-align: top; }
.login_cyou_dialog .login_dialog_login label { width: 70px; text-align: right; font-size: 14px; }
.login_cyou_dialog .login_dialog_login span { width: 70px; text-align: center; }
.login_cyou_dialog .login_dialog_login select { width: 120px; }
.login_cyou_dialog .login_dialog_login a { color: #0072c6; font-size: 14px;  }
.login_cyou_dialog .login_dialog_login a:hover {text-decoration: underline;}
.login_cyou_dialog .annexcode input { width: 92px; }
.login_cyou_dialog .annexcode span { width: 116px; height: 30px; text-align: center; }
.login_cyou_dialog .annexcode img { cursor: pointer; }
.login_cyou_dialog .login_dialog_login .error { font-size: 12px; text-align: center; }
.login_cyou_dialog .login_dialog_login .button { height: 40px; padding: 10px 0; }
.login_cyou_dialog .login_dialog_login button { display: block; width: 120px; height: 38px; margin: 0 auto; padding: 0; font-size: 14px; }
